{% load sass_tags %}
{% load static %}
<html lang="en">
    <head>
        <title>Django shop CMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        {# styles #}
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% sass_src 'pages/scss/cms/main-layout-cms.scss' %}" rel="stylesheet" type="text/css" />
        {% block mycss %} {% endblock mycss %}
        {# end of styles #}

        {# scripts #}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {# end of scripts #}
    </head>
    <body>
        <div class="sidebar">
            <a href="{% url 'cms_dashboard' %}"
               class="nav-link--dashboard">
                <i class="fa fa-tachometer"></i>
                Dashboard
            </a>
            <a href="#"
               class="nav-link--orders">
                <i class="fas fa-money-check"></i>
                Orders
            </a>
            <a href="#"
               class="nav-link--products">
                <i class="fab fa-product-hunt"></i>
                Products
            </a>
            <a href="#"
               class="nav-link--articles">
                <i class="fas fa-newspaper"></i>
                Articles
            </a>
            <a href="#"
               class="nav-link--gallery">
                <i class="fas fa-image"></i>
                Gallery
            </a>
            <a href=""
               class="nav-link--accounts">
                <i class="fas fa-user"></i>
                Accounts
            </a>
            <a href=""
               class="nav-link--logout">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>

        <div class="main">
            {% block content %}{% endblock %}
        </div>
    {% block scripts %}{% endblock scripts %}
    </body>
</html>