{% extends 'base_front.html' %}
{% load sass_tags %}

{% block mycss %}
    <link href="{% sass_src 'pages/scss/login.scss' %}" rel="stylesheet" type="text/css" />
{% endblock mycss %}

{% block content %}
    <div class="container">
        <img class="left-image"
             src="https://images.unsplash.com/photo-1543373014-cfe4f4bc1cdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGlnaCUyMHJlc29sdXRpb258ZW58MHx8MHx8&w=1000&q=80"
             alt="Password reminder image">
        <div class="password-reminder-box">
            <form method="POST" action="" class="form">
                {% csrf_token %}
                <input type="email" name="email" class="form--email" placeholder="E-mail" required>
                <button type="submit" class="btn btn-primary form--submit">
                    OK
                </button>
            </form>
            {{ form.errors }}
            {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
