@import '../../bootstrap/css/bootstrap.min.css';
@import '_variables.scss';

.main {
  @media (min-width: $screen-big-min) {
    .pretty-underline {
      background-image: linear-gradient(
                      to right,
                      $blue-very-light,
                      $blue-very-light 50%,
                      #000 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.2s ease-in-out;

      &:before {
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.2s ease-in-out;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ffdc00;
        transform-origin: bottom right;
        transition: transform 0.2s ease-out;
      }

      &:hover {
        color: #dbfc9f;
        background-position: 0;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .nav-top {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background: $site-primary-gradient-background;
    background: $site-primary-gradient;
    opacity: 0.975;

    .nav-login {
      width: 10%;

      .login-link {
        font-size: $font-size-big;
        font-weight: $font-weight-title;
      }
    }

    .nav-account {
      width: 7.5%;
    }

    .nav-top-ul {
      list-style: none;

        @media (min-width: $screen-0-min) {
          display: flex;
          margin: auto;
        }

      /*
        @media (min-width: $screen-huge-min) {
          width: 35%;
          margin: auto;
        }
       */

      .nav-item {
        padding: 0 5%;
        font-size: $font-size-small-title;
        font-weight: $font-weight-small-title;

        .nav-link {
          color: #fcfcfa;
          display: inline-block;
          position: relative;
        }
      }
    }
  }

  .content-container {
    margin-top: 5%;
  }
}

.container {
  min-height: 80vh;
}

.footer {
  width: 100%;
  margin-top: 5%;
  border-top: 2px dashed $site-primary-color;
  height: 10vh;
  background: $site-primary-gradient-background;
  background: $site-secondary-gradient;
  font-size: $font-size-mid;
  font-weight: $font-weight-title;
  letter-spacing: $letter-spacing-description;
  color: black;
  padding-top: 2%;
  text-align: center;
}

.message {
  border-radius: $border-radius-default;
  text-align: center;
  width: 100%;
  font-size: $font-size-small-title;
  font-weight: $font-weight-small-title;
  letter-spacing: $letter-spacing-description;
  background-color: rgb(227, 253, 251);
  -webkit-box-shadow: 0 0 14px 0 rgba(78, 94, 255, 0.5);
  -moz-box-shadow: 0 0 14px 0 rgba(78, 94, 255, 0.5);
  box-shadow: 0 0 14px 0 rgba(78, 94, 255, 0.5);
}