{% extends 'base_front.html' %}
{% load sass_tags %}

{% block mycss %}
    <link href="{% sass_src 'pages/scss/homepage.scss' %}" rel="stylesheet" type="text/css" />
{% endblock mycss %}

{% block content %}
    <div class="container">
        <div class="articles-container">
            {% for article in articles %}
                <div class="article">
                    <img src="{{ article.image_url }}"
                         class="article--image"
                         alt="{{ article.title }}">
                    <div class="article--title">
                        {{ article.title }}
                    </div>
                    <div class="article--description">
                        {{ article.description }}
                    </div>
                    <div class="article--read-more">
                        <a class="read-more-link" href="#{# url 'article' article.id #}">
                            Read more
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}