.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    margin-top: 7%;
    transition: padding-left 0.2s ease-out;

    &:hover {
        color: #f1f1f1;
        padding-left: 10%;
        -webkit-box-shadow: 0 2px 14px 7px rgba(85, 85, 85, 0.1);
        -moz-box-shadow: 0 2px 14px 7px rgba(85, 85, 85, 0.1);
        box-shadow: 0 2px 14px 7px rgba(85, 85, 85, 0.1);
    }
}

.main {
    margin-left: 250px;
    min-height: 80vh;
}

@media(max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.form-container {
    padding: 5%;
}