{% load static %}
{% load sass_tags %}
<!doctype html>

<html lang="en">
    <head>
        <title>-</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        {# styles #}
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% sass_src 'pages/scss/main-layout.scss' %}" rel="stylesheet" type="text/css" />
        {% block mycss %} {% endblock mycss %}
        {# end of styles #}

        {# scripts #}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        {# end of scripts #}
    </head>
    <body>
        <div class="main">
            <nav class="navbar nav-top">
                <ul class="nav-top-ul">
                    <li class="nav-item">
                        <a class="nav-link pretty-underline homepage-link" href="{% url 'front_homepage' %}">
                            Homepage
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pretty-underline products-link" href="{% url 'front_products' %}">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pretty-underline gallery-link" href="{% url 'front_gallery' %}">
                            Gallery
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pretty-underline contact-link" href="{% url 'front_contact' %}">
                            Contact
                        </a>
                    </li>
                </ul>
                 <div class="nav-login">
                     <a class="nav-link pretty-underline login-link" href="{% url 'front_login' %}">
                         Login <i class='fas fa-sign-in-alt'></i>
                     </a>
                 </div>
            </nav>
            <div class="content-container">
                {% block content %}{% endblock %}
            </div>
            <div class="footer">

            </div>
        </div>
    </body>
</html>