{% load static %}
{% load sass_tags %}
<!doctype html>

<html lang="en">
    <head>
        <title>-</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        {# styles #}
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% sass_src 'pages/scss/main-layout.scss' %}" rel="stylesheet" type="text/css" />
        {% block mycss %} {% endblock mycss %}
        {# end of styles #}

        {# scripts #}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {# end of scripts #}
    </head>
    <body>
        <div class="main">
            <nav class="navbar nav-top">
                <ul class="nav-top-ul">
                    <li class="nav-item">
                        <a class="nav-link pretty-underline homepage-link" href="{% url 'front_homepage' %}">
                            Homepage
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pretty-underline products-link" href="{% url 'front_products' %}">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pretty-underline gallery-link" href="{% url 'front_gallery' %}">
                            Gallery
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pretty-underline contact-link" href="{% url 'front_contact' %}">
                            Contact
                        </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <div class="nav-account">
                        <a class="nav-link pretty-underline account-link" href="{% url 'front_account' %}">
                            <i class='fas fa-user fa-2x'></i>
                        </a>
                    <a class="nav-link pretty-underline sign-out-link" href="{% url 'front_logout' %}">
                        <i class="fas fa-sign-out-alt fa-2x"></i>
                    </a>
                    </div>
                {% else %}
                     <div class="nav-login">
                         <a class="nav-link pretty-underline login-link" href="{% url 'front_login' %}">
                             Sign in <i class='fas fa-sign-in-alt'></i>
                         </a>
                     </div>
                {% endif %}
            </nav>
            <div class="content-container">
                {% block content %}{% endblock %}
                {% if include_pagination %}
                    <nav aria-label="Page navigation example" class="text-center m-auto">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link"
                                    href="#"
                                    aria-label="First"
                                    id="page-link-first"
                                    data-page="first">
                                <span aria-hidden="true">
                                &laquo;
                                </span>
                                </a>
                            </li>
                            {% if pagination.previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    id="page-link-{{ pagination.previous }}"
                                    href="#"
                                    data-page="{{ pagination.previous }}">
                                {{ pagination.previous }}
                                </a>
                            </li>
                            {% endif %}
                            <li class="page-item active">
                                <a class="page-link"
                                    id="page-link-{{ pagination.current }}"
                                    href="#"
                                    data-page="{{ pagination.current }}">
                                {{ pagination.current }}
                                </a>
                            </li>
                            {% if pagination.next %}
                            <li class="page-item">
                                <a class="page-link"
                                    id="page-link-{{ pagination.next }}"
                                    href="#"
                                    data-page="{{ pagination.next }}">
                                {{ pagination.next }}
                                </a>
                            </li>
                            {% endif %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="#"
                                    aria-label="Last"
                                    id="page-link-last"
                                    data-page="last">
                                <span aria-hidden="true">
                                &raquo;
                                </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endif %}
            <div class="footer">

            </div>
        </div>
        <script src="{% static 'js/pagination.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>