{% block content %}
    <div class="container">
        <div class="products-container">
            {% for product in products %}
                <div class="product">
                    <div class="product--thumbnail-container">
                        <img src="{{ product.thumb_url }}" class="product-thumbnail" alt="{{ product.name }}">
                    </div>
                    <div class="product--name">
                        {{ product.name }}
                    </div>
                    <div class="product--short-description">
                        {{ product.short_description }}
                    </div>
                    <div class="product--price">
                        <span class="price-value {% if product.price_promoted > 0 %}not-active{% endif %}">
                            {{ product.price }} {{ product.currency|lower }}
                        </span>
                    </div>
                    {% if product.price_promoted > 0 %}
                        <div class="product--price-promoted">
                            <span class="price-promoted-value">
                                {{ product.price_promoted }} {{ product.currency|lower }}
                            </span>
                        </div>
                    {% endif %}
                    <div class="product-buttons">
                        <a class="product-buttons--add-to-cart" href="#">
                            <span class="add-to-cart-link">
                                Add to cart
                                <i class="fa-solid fa-cart-shopping"></i>
                            </span>
                        </a>
                        <a class="product-buttons--go-to-product" href="#">
                            <span class="product-link">
                                View product
                                <i class="fas fa-arrow-circle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation example" class="text-center m-auto">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"
                    href="#"
                    aria-label="First"
                    id="page-link-first"
                    data-page="first">
                    <span aria-hidden="true">
                    &laquo;
                    </span>
                </a>
            </li>
            {% if pagination.previous %}
            <li class="page-item">
                <a class="page-link"
                    id="page-link-{{ pagination.previous }}"
                    href="#"
                    data-page="{{ pagination.previous }}">
                {{ pagination.previous }}
                </a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link"
                    id="page-link-{{ pagination.current }}"
                    href="#"
                    data-page="{{ pagination.current }}">
                {{ pagination.current }}
                </a>
            </li>
            {% if pagination.next %}
            <li class="page-item">
                <a class="page-link"
                    id="page-link-{{ pagination.next }}"
                    href="#"
                    data-page="{{ pagination.next }}">
                {{ pagination.next }}
                </a>
            </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link"
                    href="#"
                    aria-label="Last"
                    id="page-link-last"
                    data-page="last">
                    <span aria-hidden="true">
                    &raquo;
                    </span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}